/*------------
    Font 
--------------*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster&family=Poppins:wght@500&family=Roboto+Slab:wght@300&display=swap');

/* -----------
Common Style
-------------- */
body {
    background-color: white;
}

/*---------------------
 main banner design
 ---------------------- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner {
    height: 620px;
    width: 1321px;
    margin-top: 20px;
    margin-bottom: 130px;
    border: 1px solid salmon;
    border-radius: 30px;
    background-color: #161616;
    display: grid;
    align-items: center;

}

.banner-info-img {
    display: flex;
    align-items: center;

}

.banner-info {
    height: 424px;
    width: 600px;
    margin-left: 140px;
    border-radius: 5px;
    margin-top: 30px;

}

.website-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.normal-font {
    margin-bottom: 0px;
    font-size: 14px;
    color: white;
}

.button-info {
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    margin-top: 25px;
    border: none;
}

.button-info a {
    color: #FFFFFF;
    text-decoration: none;
}

.fa-angle-right {
    color: white;
}

.banner-image img {
    height: 613px;
    width: 581px;

}

/*------------------------
    Top Win Section 
-----------------------------*/
/* .container {
    display: flex;
    column-gap: 24px;
    margin-bottom: 130px;
} */
.container {
    height: 100%;
    width: 1321px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 130px;
}

/*-----------------------
     button section 
 ------------------------*/
.button {
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: #161616;

}

.button-hidden {
    width: 100%;
    height: 252px;
    padding: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
}

.button-option {
    width: 252px;
    height: 252px;
    padding: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
}

.container-two {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;

}

.button-1 a {
    color: black;
    text-decoration: none;
}

.button-2 a {
    color: black;
    text-decoration: none;
}

.button-3 a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-1,
.button-2 {
    background-color: #FFFFFF;
}

.button-3 {
    background-color: red;
}

.button-3-home a {
    color: white;
    text-decoration: none;

}

/*-------------------------------------
     win momment section design
---------------------------------------*/
.indivisual-win-momment {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.win-momment {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.win-img {
    width: 312px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.win-info {
    padding: 20px;
}

.transfer-button {
    display: block;
    border-radius: 5px;
    border: 1px solid #161616;
}

.transfer-button a {
    text-decoration: none;
    color: black;
}

.icon-flex {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.fa-clock,
.fa-comment-dots {
    color: rgba(22, 22, 22, 0.7);
    padding-right: 10px;
}

.view-button {
    width: 150px;
    height: 65px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}

.view-button a {
    font-size: 20px;
}

/* Goal sectio or footer section */
.main-footer {
    width: 100%;
    color: white;
    background-color: #161616;
    text-align: center;
}

h2 {
    font-size: 40px;
    padding-top: 130px;
}

hr {
    width: 900px;
    margin-top: 70px;
    padding-left: 130px;
    padding-right: 130px;
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.goal-conatin {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.goal-info {
    width: 898px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 310px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
}

/* Social Icon */
.social-icon {
    width: 200px;
    height: 100px;
    padding-left: 635px;
}

.social-icon a {
    font-size: 25px;
    padding-left: 40px;
}

/* -------------------------------------
    Home scetion live match details
---------------------------------------- */
.live-match {
    height: 242px;
    width: 312px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

.live-match-2 {
    margin: 33px;

}

.flag {
    width: 252px;
    height: 56px;
    display: flex;
    column-gap: 20px;
}

.flag img {
    width: 93px;
    height: 56px;
}

.match-info {
    width: 234px;
    height: 59px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 55px;
}

#match-name {
    font-size: 20px;
}

@media only screen and (max-width: 680px) {
    .main-banner {
        width: 100%;
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    hr {
        width: 100%;
    }

    .banner-info-img {
        width: 100%;
        flex-direction: column;

    }

    .banner-info {
        padding-left: 15px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
    }

    .button-info {
        margin-left: 180px;
    }

    .container,
    .main-footer {
        width: 100%;
    }

    .button-hidden {
        display: none;
    }

    .main {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-info {
        width: 100%;
    }

    main {
        position: relative;
        width: 100%;
    }

    .button-2,
    .button-3 {
        margin-left: 26px;
        width: 200px;
        height: 64px;
    }

    .button {
        background-color: #FFFFFF;
    }

    .banner-info-img {
        grid-template-columns: repeat(1, 1fr);


    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .indivisual-win-momment {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .view-button-section {
        display: none;
    }

    .main-footer {
        width: 100%;
    }

    .goal-info {
        margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

    }

    .social-icon {
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .social-icon a {
        margin-left: 0px;
        margin-right: 20px;
    }
}

@media only screen and (min-width:681px) and (max-width:992px) {
    .indivisual-win-momment {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .button-hidden {
        width: 100%;
        padding: 0px;
    }

    .container-two {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .main-banner {
        width: 100%;
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .banner-info-img {
        width: 100%;

    }

    .banner-info {
        padding-left: 60px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
    }

    /* .banner-info {
        width: 100%;
    } */

    /* .banner-image img {
        width: 100%;
    } */

    main {
        width: 100%;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .button {
        display: none;
    }

    .button-option {
        display: none;
    }

    .main-footer {
        width: 100%;
    }

    .goal-info {
        /* margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: repeat(1, 1fr); */
        width: 100%;
        margin-left: 0px;

    }

    .social-icon {
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .social-icon a {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1800px) {


    .banner-info-img {
        width: 100%;

    }

    .banner-info {
        width: 100%;
        height: 100%;
    }

    .button-option {
        width: 100%;
        height: 100%;
    }

    .button-hidden {
        display: none;
    }

    .view-button-section {
        display: none;
    }

    .main-footer {
        width: 100%;
    }

    .goal-info {
        /* margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: repeat(1, 1fr); */
        width: 100%;
        margin-left: 0px;

    }

    .social-icon {
        margin-left: 0px;
        padding-left: 0px;
        width: 100%;
    }

    .social-icon a {
        margin-left: 0px;
        margin-right: 20px;
    }
}